{# app/Resources/views/game/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-container">
        {% if tales[0].0.id is defined %}
            {% for tale in tales %}
                <p>Tale Id: {{ tale.0.id }}</p>
                <p>Tale Title: {{ tale.0.taleTitle }}</p>
                <p>Tale Likes: {{ tale.0.likes.count() }}</p>
                <p>Tale Username: {{ tale.0.user.username }}</p>
                <br/>
            {% endfor %}
        {% else %}
            {% for tale in tales %}
                <p>Tale Id: {{ tale.id }}</p>
                <p>Tale Title: {{ tale.taleTile }}</p>
                <p>Tale Likes: {{ tale.likes.count() }}</p>
                <p>Tale Username: {{ tale.user.username }}</p>
                <br/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}