{# app/Resources/views/game/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-container">

        {% set ciclo = false %}

        {% for tale in tales %}
          {% set ciclo = true %}
          {% if loop.index0 == 0 %}
            <div class="row">
          {% elseif loop.index0%3 == 0 %}
            </div>
            <div class="row">
          {% endif %}

          <div class="col col-sm-4">

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                    <h1>{{tale.taleTitle}}</h1>
                    {% if tale.taleAuthor is not null  %}
                      <h6>{{tale.taleAuthor}}</h6>
                    {% else %}
                      <h6>Autore non specificato</h6>
                    {% endif %}
                    <p>{{tale.taleNotes | truncate(10 , false) }}</p>
                    <p><button type="button" class="btn btn-primary btn-sm pull-right" onclick="location.href='{{ path('tale', { slug: tale.id }) }}'">Leggi la fiaba completa</button></p>
                </div>
              </div>
            </div>
              <div class="panel-footer">
                slide
              </div>
            </div>

          </div>

		    {% else %}
		        <div class="well">Nessuna fiaba</div>
		    {% endfor %}



        {% if ciclo == true %}
          </div>
        {% endif %}


		    <div class="navigation text-center">
		        {{ knp_pagination_render(tales) }}
		    </div>

{% endblock %}
