{# app/Resources/views/game/publicgame.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/publicgame.css') }}">
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('js/jquery-ui.js') }}"></script>
  <script>
    var isMobile = {
      any: function() {
        return navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i);
      }
    };

    function initialize() {
      {% set maxCards = 15 %}

      {% for character in characters %}
        $('<div class="col-md-2-5 col-sm-2-5 col-xs-3 col-xxs-4"></div>')
        .attr('id', 'container' + {{ character.id }})
        .appendTo('#cardCharacters')
        .data('occupiedBy', '#' + {{ character.id }})
        .droppable({
          accept: '#cardSlots div',
          hoverClass: 'hovered',
          drop: handleCardDropOnDefaultDeck
        });

        $('<div class="defaultDeck"><a class="thumbnail"><img src="{{ asset('images/' ~ character.cardFront) }}" style="max-width:100%;"></a></div>')
        .appendTo('#container' + {{ character.id }})
        .attr('id', {{ character.id }})
        .data('cardName', '{{ character.cardName }}')
        .data('cardDescription', '{{ character.cardDescription }}')
        .data('cardText', '{{ character.cardText }}')
        .data('cardFront', '{{ asset('images/' ~ character.cardFront) }}')
        .data('container', 'container' + {{ character.id }})
        .data('defaultAppendTo', '#cardCharacters')
        .draggable({
          containment: '#content',
          cursor: 'move',
          revert: true
        })
        .position({
          of: $('#container' + {{ character.id }})
        });
      {% endfor %}

      {% for function in functions %}
        $('<div class="col-md-2-5 col-sm-2-5 col-xs-3 col-xxs-4"></div>')
        .attr('id', 'container' + {{ function.id }})
        .appendTo('#cardFunctions')
        .data('occupiedBy', '#' + {{ function.id }})
        .droppable({
          accept: '#cardSlots div',
          hoverClass: 'hovered',
          drop: handleCardDropOnDefaultDeck
        });

        $('<div class="defaultDeck"><a class="thumbnail"><img src="{{ asset('images/' ~ function.cardFront) }}" style="max-width:100%;"></a></div>')
        .appendTo('#container' + {{ function.id }})
        .attr('id', {{ function.id }})
        .data('cardName', '{{ function.cardName }}')
        .data('cardDescription', '{{ function.cardDescription }}')
        .data('cardFront', '{{ asset('images/' ~ function.cardFront) }}')
        .data('cardText', '{{ function.cardText }}')
        .data('container', 'container' + {{ function.id }})
        .data('defaultAppendTo', '#cardFunctions')
        .draggable({
          containment: '#content',
          cursor: 'move',
          revert: true
        })
        .position({
          of: $('#container' + {{ function.id }})
        });
      {% endfor %}

      {% for place in places %}
        $('<div class="col-md-2-5 col-sm-2-5 col-xs-3 col-xxs-4"></div>')
        .attr('id', 'container' + {{ place.id }})
        .appendTo('#cardPlaces')
        .data('occupiedBy', '#' + {{ place.id }})
        .droppable({
          accept: '#cardSlots div',
          hoverClass: 'hovered',
          drop: handleCardDropOnDefaultDeck
        });

        $('<div class="defaultDeck"><a class="thumbnail"><img src="{{ asset('images/' ~ place.cardFront) }}" style="max-width:100%;"></a></div>')
        .appendTo('#container' + {{ place.id }})
        .attr('id', {{ place.id }})
        .data('cardName', '{{ place.cardName }}')
        .data('cardDescription', '{{ place.cardDescription }}')
        .data('cardText', '{{ place.cardText }}')
        .data('cardFront', '{{ asset('images/' ~ place.cardFront) }}')
        .data('container', 'container' + {{ place.id }})
        .data('defaultAppendtTo', '#cardPlaces')
        .draggable({
          containment: '#content',
          cursor: 'move',
          revert: true
        })
        .position({
          of: $('#container' + {{ place.id }})
        });
      {% endfor %}

      {% for magicElement in magicElements %}
        $('<div class="col-md-2-5 col-sm-2-5 col-xs-3 col-xxs-4""></div>')
        .attr('id', 'container' + {{ magicElement.id }})
        .appendTo('#cardMagicElements')
        .data('occupiedBy', '#' + {{ magicElement.id }})
        .droppable({
          accept: '#cardSlots div',
          hoverClass: 'hovered',
          drop: handleCardDropOnDefaultDeck
        });

        $('<div class="defaultDeck"><a class="thumbnail"><img src="{{ asset('images/' ~ magicElement.cardFront) }}" style="max-width:100%;"></a></div>')
        .appendTo('#container' + {{ magicElement.id }})
        .attr('id', {{ magicElement.id }})
        .data('cardName', '{{ magicElement.cardName }}')
        .data('cardDescription', '{{ magicElement.cardDescription }}')
        .data('cardText', '{{ magicElement.cardText }}')
        .data('cardFront', '{{ asset('images/' ~ magicElement.cardFront) }}')
        .data('container', 'container' + {{ magicElement.id }})
        .data('defaultAppendTo', '#cardMagicElements')
        .draggable({
          containment: '#content',
          cursor: 'move',
          revert: true
        })
        .position({
          of: $('#container' + {{ magicElement.id }})
        });
      {% endfor %}

      {% for i in 1..maxCards %}
        $('<div class="col-md-2-5 col-sm-2-5 col-xs-3 col-xxs-4"><a class="thumbnail"><img src="{{ asset('images/empty.png') }}" style="max-width:100%;"></a></div>')
        .appendTo('#cardSlots')
        .attr('id', 'cardSlot' + {{ i-1 }})
        .data('occupiedBy', 'nothing')
        .droppable({
          accept: '#cardCharacters div, #cardFunctions div, #cardMagicElements div, #cardPlaces div',
          hoverClass: 'hovered',
          drop: handleCardDropOnGameDeck
        });
      {% endfor %}

      $('.cardContainer').droppable({
        accept: '#cardSlots div',
        hoverClass: 'hovered',
        drop: handleCardDropOnDefaultDeck
      });

      $('#cardSlotsContainer').droppable({
        accept: '#cardCharacters div, #cardFunctions div, #cardMagicElements div, #cardPlaces div',
        hoverClass: 'hovered',
        drop: handleCardDropOnGameDeck
      });

      $('.overlay').droppable({
        accept: '#cardSlots div',
        hoverClass: 'hovered',
        drop: handleCardDropOnDefaultDeck
      });
    }

    function refreshPosition() {
      {% for character in characters %}
        $('#' + {{ character.id }}).position({
          of: $('#' + $('#' + {{ character.id }}).data('container'))
        });
      {% endfor %}

      {% for place in places %}
        $('#' + {{ place.id }}).position({
          of: $('#' + $('#' + {{ place.id }}).data('container'))
        });
      {% endfor %}

      {% for magicElement in magicElements %}
        $('#' + {{ magicElement.id }}).position({
          of: $('#' + $('#' + {{ magicElement.id }}).data('container'))
        });
      {% endfor %}

      {% for function in functions %}
        $('#' + {{ function.id }}).position({
          of: $('#' + $('#' + {{ function.id }}).data('container'))
        });
      {% endfor %}
    }

    function handleCardDropOnGameDeck(event, ui) {
      var card = ui.draggable;
      var cardId = card.attr('id');

      var exit = false;

      for(var i = 0; i < {{ maxCards }} && !exit; i++) {
        if($('#cardSlot' + i).data('occupiedBy') == 'nothing') {
          var html = $('#cardSlot' + i).html();
          var data = $('#cardSlot' + i).data();
          var id = $('#cardSlot' + i).attr('id');

          $('#cardSlot' + i).html($('#' + card.data('container')).html()).attr('id', id).data(data);

          data = $('#' + card.data('container')).data();
          id = $('#' + card.data('container')).attr('id');

          $('#' + card.data('container')).html(html).attr('id', id).data(data).data('occupiedBy', 'nothing');

          $('#' + cardId).appendTo('#cardSlot' + i)
          .data('container', 'cardSlot' + i)
          .draggable({
            revert: false
          })
          .position({
            of: $('#cardSlot' + i)
          })
          .removeClass('defaultDeck ui-draggable-dragging')
          .addClass('gameDeck');

          $('#cardSlot' + i).data('occupiedBy', cardId);

          setTimeout(function () {
            $('#' + cardId).draggable({
              revert: true
            });
          }, 100);

          $(refreshPosition);

          exit = true;
        }
      }
    }

    function handleCardDropOnDefaultDeck(event, ui) {
      var card = ui.draggable;
      var cardId = card.attr('id');

      var html = $('#container' + cardId).html();
      var data = $('#container' + cardId).data();
      var id = $('#container' + cardId).attr('id');

      $('#container' + cardId).html($('#' + card.data('container')).html()).attr('id', id).data(data);

      data = $('#' + card.data('container')).data();
      id = $('#' + card.data('container')).attr('id');

      $('#' + card.data('container')).html(html).attr('id', id).data(data).data('occupiedBy', 'nothing');

      $('#' + cardId).appendTo('#container' + cardId)
      .data('container', 'container' + cardId)
      .draggable({
        revert: false
      })
      .position({
        of: $('#container' + cardId)
      })
      .removeClass('gameDeck ui-draggable-dragging')
      .addClass('defaultDeck');

      $('#container' + cardId).data('occupiedBy', '#' + cardId);

      setTimeout(function () {
        $('#' + cardId).draggable({
          revert: true
        });
      }, 100);

      $(refreshPosition);
    }

    function openModal(cardId) {
      var card = $('#' + cardId);

      $('#modal').show();

      $('#modal').data('cardId', cardId);
      $('#modal-title').html($(card).data('cardName'));
      $('#modal-image').attr('src', $(card).data('cardFront'));
      $('#modal-description').html($(card).data('cardDescription'));
      $('#modal-text').html($(card).data('cardText'));
    };

    $(document).on('click', '.defaultDeck', function() {
      $('#add').show();
      $('#remove').hide();
      openModal($(this).attr('id'));
    });

    $(document).on('click', '.gameDeck', function() {
      $('#add').hide();
      $('#remove').show();
      openModal($(this).attr('id'));
    });

    $(document).on('click', '#close', function() {
      $('#modal').hide();
    });

    $(document).on('click', '#add', function() {
      var cardId = $('#modal').data('cardId');
      var card = $('#' + cardId);
      var exit = false;

      for(var i = 0; i < {{ maxCards }} && !exit; i++) {
        if($('#cardSlot' + i).data('occupiedBy') == 'nothing') {
          var html = $('#cardSlot' + i).html();
          var data = $('#cardSlot' + i).data();
          var id = $('#cardSlot' + i).attr('id');

          $('#cardSlot' + i).html($('#' + card.data('container')).html()).attr('id', id).data(data);

          data = $('#' + card.data('container')).data();
          id = $('#' + card.data('container')).attr('id');

          $('#' + card.data('container')).html(html).attr('id', id).data(data).data('occupiedBy', 'nothing');

          $('#' + cardId).appendTo('#cardSlot' + i)
          .data('container', 'cardSlot' + i)
          .draggable({
            revert: false
          })
          .position({
            of: $('#cardSlot' + i)
          })
          .removeClass('defaultDeck ui-draggable-dragging')
          .addClass('gameDeck');

          $('#cardSlot' + i).data('occupiedBy', cardId);

          setTimeout(function () {
            $('#' + cardId).draggable({
              revert: true
            });
          }, 100);

          $(refreshPosition);

          exit = true;
        }
      }

      $('#modal').hide();
    });

    $(document).on('click', '#remove', function() {
      var cardId = $('#modal').data('cardId');
      var card = $('#' + cardId);

      var html = $('#container' + cardId).html();
      var data = $('#container' + cardId).data();
      var id = $('#container' + cardId).attr('id');

      $('#container' + cardId).html($('#' + card.data('container')).html()).attr('id', id).data(data);

      data = $('#' + card.data('container')).data();
      id = $('#' + card.data('container')).attr('id');

      $('#' + card.data('container')).html(html).attr('id', id).data(data).data('occupiedBy', 'nothing');

      $('#' + cardId).appendTo('#container' + cardId)
      .data('container', 'container' + cardId)
      .draggable({
        revert: false
      })
      .position({
        of: $('#container' + cardId)
      })
      .removeClass('gameDeck ui-draggable-dragging')
      .addClass('defaultDeck');

      $('#container' + cardId).data('occupiedBy', '#' + cardId);

      setTimeout(function () {
        $('#' + cardId).draggable({
          revert: true
        });
      }, 100);

      $(refreshPosition);

      $('#modal').hide();
    });

    $(document).ready(function() {
      if(isMobile.any()) {
        $('.desktop').hide();
      } else {
        $('.mobile').hide();
      }

      $('#cardCharacters').hide();
      $('#cardFunctions').hide();
      $('#cardPlaces').hide();
      $('#cardMagicElements').hide();

      $('.mainCard').click(function() {
        $('#cardCharacters').hide();
        $('#cardFunctions').hide();
        $('#cardPlaces').hide();
        $('#cardMagicElements').hide();

        $('#' + $(this).attr('id') + 's').show();

        $(refreshPosition);
      });

      //Closes the modal
      $(window).click(function() {
        if (event.target.id == $('#modal').attr('id')) {
          $('#modal').hide();
        }
      })

      $(window).resize(function () {
        $(refreshPosition);
      });
    });

    $(initialize);
  </script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row center-block">
      <div class="row center-block">
        <div class="col-md-6 col-xs-12 hidden-md hidden-lg">
          <h1 class="animated zoomIn">Istruzioni del gioco</h1>
          <div class="offer offer-radius offer-info">
            <div class="offer-content offer-info">
              <h3 class="desktop">1. Apri il mazzo di carte tra quello dei personaggi, delle funzioni, dei luoghi o quello degli elementi magici.<br>2. Seleziona le carte che desideri e trascinale sul tabellone di gioco. <br>3. Inventa e racconta la tua storia.</h3>
              <h3 class="mobile">1. Apri il mazzo di carte tra quello dei personaggi, delle funzioni, dei luoghi o quello degli elementi magici.<br>2. Fai click sulle carte che desideri per spostarle sul tabellone di gioco. <br>3. Inventa e racconta la tua storia.</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="row center-block">
            <h1 class="animated zoomIn">I mazzi delle carte</h1>
            <div class="col-xs-3 col-xxs-6">
              <div class="mainCard hovereffect" id="cardCharacter"><img class="img-responsive" src="{{ asset("images/R_R.png")}}">
              </div>
            </div>
            <div class="col-xs-3 col-xxs-6">
              <div class="mainCard hovereffect" id="cardFunction"><img class="img-responsive" src="{{ asset("images/R_F.png")}}">
              </div>
            </div>
            <div class="col-xs-3 col-xxs-6">
              <div class="mainCard hovereffect" id="cardPlace"><img class="img-responsive" src="{{ asset("images/R_L.png")}}">
              </div>
            </div>
            <div class="col-xs-3 col-xxs-6">
              <div class="mainCard hovereffect" id="cardMagicElement"><img class="img-responsive" src="{{ asset("images/R_EM.png")}}">
              </div>
            </div>
          </div>
        </div>
        <div class="hidden-sm hidden-xs">
          <h1 class="animated zoomIn">Istruzioni del gioco</h1>
          <div class="offer offer-radius offer-info">
            <div class="offer-content offer-info">
              <h3 class="desktop">1. Apri il mazzo di carte tra quello dei personaggi, delle funzioni, dei luoghi o quello degli elementi magici.<br>2. Seleziona le carte che desideri e trascinale sul tabellone di gioco. <br>3. Inventa e racconta la tua storia.</h3>
              <h3 class="mobile">1. Apri il mazzo di carte tra quello dei personaggi, delle funzioni, dei luoghi o quello degli elementi magici.<br>2. Fai click sulle carte che desideri per spostarle sul tabellone di gioco. <br>3. Inventa e racconta la tua storia.</h3>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row center-block" id="content">
        <div class="col-md-6 col-xs-12">
          <div><h1 class="animated zoomIn">Le carte</h1></div>
          <div class="col-xs-12 cardContainer">
            <div class="row" id="cardCharacters"></div>
          </div>
          <div class="col-xs-12 cardContainer">
            <div class="row" id="cardPlaces"></div>
          </div>
          <div class="col-xs-12 cardContainer">
            <div class="row" id="cardMagicElements"></div>
          </div>
          <div class="col-xs-12 cardContainer">
            <div class="row" id="cardFunctions"></div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <h1 class="animated zoomIn">Il tuo tabellone</h1>
          <div class="col-xs-12" id="cardSlotsContainer">
            <div id="cardSlots"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal" class="modal">
      <div class="modal-content">
        <div class="modal-body">
          <br/>
          <div class="row">
            <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-5 col-xs-offset-0">
              <img src="" class="img-responsive" id="modal-image"/>
            </div>
            <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-6 col-xs-offset-1">
              <h3 class="text-center" id="modal-title"></h3>
              <br/>
              <h5 class="text-justify" id="modal-description"></h5>
              <p class="text-justify" id="modal-text"></p>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="text-right">
                <button type="button" class="btn btn-primary" id="close">Chiudi</button>
                <button type="button" class="btn btn-danger" id="remove">Rimuovi</button>
                <button type="button" class="btn btn-success" id="add">Aggiungi</button>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
  </div>
{% endblock %}
