{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
{% endblock %}
{% block body %}
    <div class="container body-container">
        <div class="row">
            <div class="col-sm-7">
                <h2 id="type-blockquotes">L'algoritmo per le fiabe</h2>
                <blockquote>
                    <p>Inventa la tua storia con le carte di Propp!</p>
                    <small>ITTS A. Volta <cite title="Source Title">M. Ciuchetti</cite></small>
                </blockquote>
                <div id="slideshow" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel" data-slide-to="1"></li>
                        <li data-target="#slideshow" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ asset('images/Logo.jpg') }}" alt="le carte di Propp">
                            <div class="carousel-caption">Gioca ora</div>
                        </div>
                        
                        <div class="item">
                          <img src="{{ asset('images/Logo.jpg') }}" alt="seconda">
                          <div class="carousel-caption">Sviluppo</div>
                        </div>
                        <div class="item">
                          <img src="{{ asset('images/Logo.jpg') }}" alt="terza">
                          <div class="carousel-caption">Architettura</div>
                        </div>
                    </div>
                    <a data-slide="prev" href="#slideshow" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#slideshow" class="right carousel-control">›</a>
                </div>

                <div class="page-header">
                </div>

                <div class="jumbotron">
                    <h1>Novità</h1>
                    <p>Attenzione</p>
                    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
                </div>
            </div>
            <!--da vedere class section-->

            <div id="sidebar" class="col-sm-5">
                {% block sidebar %}
                    <div class="section more">
                        <div class="well well-lg">
                            <p>
                                L'ultima fiaba scritta
                            </p>
                            <div class="thumbnail">
                                <img src="bundles/framework/images/ceraunavolta.jpg" alt="fiaba">
                                <div class="caption">
                                    <h4><a>{{ lastTale.taleTitle }}</a></h4>
                                    <p>{{ lastTaleText | truncate(150 , false) }}</p>
                                </div>
                            </div>
                            <p><a class="btn btn-primary btn-sm" href="tales">
                                    <span class="fa fa-users" aria-hidden="true"></span> Le fiabe pubbliche
                                </a></p>
                        </div>
                    </div>
                    <div class="section last">
                        <div class="well well-lg">
                            <p> La fiaba più votata </p>
                            <div class="thumbnail">
                                <img src="bundles/framework/images/ceraunavolta.jpg" alt="fiaba">
                                <div class="caption">
                                    <h4><a href="{{ path('tale', {idTale: lastTale.id }) }}">{{ bestTale.taleTitle }}</a></h4>
                                    <p>{{ bestTaleText | truncate(150 , false) }}</p>
                                </div>
                            </div>
                            <p>
                                <a class="btn btn-primary btn-sm" onclick="location.href='{{ path('tale', { idTale: lastTale.id }) }}'">
                                    <span class="fa fa-fort-awesome" aria-hidden="true"></span> Visualizza
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="section your">
                        <div class="well well-lg">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">La fiaba migliore</h4>
                                    <div class="thumbnail">
                                        <img src="bundles/framework/images/ceraunavolta.jpg" alt="fiaba">
                                        <div class="caption">
                                            <h4><a href="{{ path('tale', { idTale: correctTale.id }) }}">{{ correctTale.taleTitle }}</a></h4>
                                            <p>{{ correctTaleText | truncate(150 , false) }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <p><a class="btn btn-primary btn-sm" href="#">
                                    <span class="fa fa-lock" aria-hidden="true"></span> Le tue fiabe
                                </a></p>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>


        {% block main %}{% endblock %}

    </div>
{% endblock %}