{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/detailCarousel.css') }}">
{% endblock %}
{% block body %}
    <style>
      .thumbnail {
        margin-right: 12%;
        padding: 0;
      }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <h3 align="center">{{ tale[0].taleTitle }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="material-switch">

                            <div class="material-switch">
                                <input id="mode" name="mode" type="checkbox"/>
                                <label for="mode" class="label-primary"></label>
                                <script>
                                    $(document).ready(function () {
                                        $('#classicDiv').hide();
                                        $('#mode').change(function () {
                                            if (this.checked) {
                                                $('#detailDiv').fadeOut();
                                                $('#classicDiv').fadeIn(2050);
                                            }
                                            else {
                                                $('#detailDiv').fadeIn(2050);
                                                $('#classicDiv').fadeOut();
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                        <h3>Dettagli</h3>
                      </div>
                      <div class="col-xs-4 col-xs-offset-5">
                        <div class="hidden-lg pull-right">
                          {{ include('tales/likeButton.html.twig') }}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Autore: {{ tale[0].taleAuthor }}</p>
                                <p>Likes: <span id="taleLikes">{{ tale[0].likes.count() }}</span></p>
                                <p>Data Creazione: {{ tale[0].taleDate | date("Y-m-d") }}</p>
                                <p>Punteggio: {{ tale[0].taleScore }}</p>
                            </div>
                        </div>
                        <div class="hidden-md hidden-sm hidden-xs">
                          {{ include('tales/likeButton.html.twig') }}
                        </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="col-lg-8 col-lg-offset-1" id="detailDiv">

                {# % set ciclo = false % #}
                {% for sequence in tale[0].sequences %}
                    {# % set ciclo = true %#}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="verticaltext" style="color:{{ sequence.sequenceType.stColor }}">{{ sequence.sequenceType.stName }}</div>
                            <div class="container-fluid">
                                <div class="jumbotron" style="background:{{ sequence.sequenceType.stColor }}; font-family: Courgette;">
                                    {{ sequence.seqText }}
                                </div>
                            </div>
                        </div>
                        {% if sequencesImages[loop.index0] is not empty %}
                          <div class="col-lg-6">
                                <div id="Carousel{{ loop.index0 }}" class="carousel slide">
                                    <ol class="carousel-indicators">
                                        {% if sequencesImages[loop.index0]|length %3 == 0 %}
                                            {% for i in 0..sequencesImages[loop.index0]|length /3-1 %} {# #}
                                                {% if loop.index0 == 0 %} {# se è la prima immagine #}
                                                    <li data-target="#Carousel{{ loop.parent.loop.index0 }}" data-slide-to="{{ i }}" class="active"></li>
                                                {% else %}
                                                    <li data-target="#Carousel{{ loop.parent.loop.index0 }}" data-slide-to="{{ i }}"></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% elseif sequencesImages[loop.index0]|length < 3 %}
                                            <li data-target="#Carousel{{ loop.index0 }}" data-slide-to="0" class="active"></li>
                                        {% else %}
                                            {% for i in 0..sequencesImages[loop.index0]|length /3 %}
                                                {% if loop.index0 == 0 %}
                                                    <li data-target="#Carousel{{ loop.parent.loop.index0 }}" data-slide-to="{{ i }}" class="active"></li>
                                                {% else %}
                                                    <li data-target="#Carousel{{ loop.parent.loop.index0 }}" data-slide-to="{{ i }}"></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ol>
                                    <div class="carousel-inner">
                                        {% for image in sequencesImages[loop.index0] %}
                                            {% if loop.index0 == 0 %}
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="col-xs-4"><a href="#" class="thumbnail"><img src="{{ asset('images/'~image )}}" alt="Image" style="max-width:100%;"></a></div>

                                                    {% elseif loop.index0%3 == 0 %}
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-xs-4"><a href="#" class="thumbnail"><img src="{{ asset('images/'~image) }}" alt="Image" style="max-width:100%;"></a></div>

                                                    {% else %}
                                                        <div class="col-xs-4"><a href="#" class="thumbnail"><img src="{{ asset('images/'~image) }}" alt="Image" style="max-width:100%;"></a></div>

                                            {% endif %}

                                        {% endfor %}
                                                </div>
                                            </div>
                                  </div><!--.carousel-inner-->
                                  <a data-slide="prev" href="#Carousel{{loop.index0}}" class="left carousel-control">‹</a>
                                  <a data-slide="next" href="#Carousel{{loop.index0}}" class="right carousel-control">›</a>
                              </div>
                        </div>
                      {% endif %}
                    </div>
                {% endfor %}
              </div>
              <div id="classicDiv" class="col-lg-6 col-lg-offset-1">
                  <div class="jumbotron" style="font-family: Courgette;">
                      <p>{{ taleText|nl2br }}</p>
                  </div>
              </div>
      </div>
    </div>
  </div>
{% endblock %}
