{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
    <link href="{{ asset('css/hover.css') }}" rel="stylesheet" media="all">
{% endblock %}
{% block body %}
    <style>
        .verticaltext {
            transform: rotate(-90deg);
            padding-bottom: 150px;
            width: 100px;
            position: absolute;
        }
        .btn-circle {
          width: 49px;
          height: 49px;
          text-align: center;
          padding: 5px 0;
          font-size: 20px;
          line-height: 2.00;
          border-radius: 30px;
        }

        .btn:focus{
          outline: none !important;
        }

        .btn-circle-micro {
          width: 19px;
          height: 19px;
          text-align: center;
          padding: 1px 0;
          font-size: 13px;
          line-height: 0.1;
          border-radius: 30px;
        }

        .btn-circle-sm {
          width: 35px;
          height: 35px;
          text-align: center;
          padding: 2px 0;
          font-size: 20px;
          line-height: 1.65;
          border-radius: 30px;
        }

        .btn-circle-lg {
          width: 79px;
          height: 79px;
          text-align: center;
          padding: 13px 0;
          font-size: 30px;
          line-height: 2.00;
          border-radius: 70px;
        }
      .clicked{
          color: #317EAC;
      }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3 align="center">{{ tale[0].taleTitle }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="container-fluid">
                    <div class="material-switch">

                        <div class="material-switch">
                            <input id="mode" name="mode" type="checkbox"/>
                            <label for="mode" class="label-primary"></label>
                            <script>
                                $(document).ready(function () {
                                    $('#classicDiv').hide();
                                    $('#mode').change(function () {
                                        $('#classicDiv').hide();
                                        if (this.checked) {
                                            $('#detailDiv').fadeOut();
                                            $('#classicDiv').fadeIn(2050);
                                        }
                                        else {
                                            $('#detailDiv').fadeIn(2050);
                                            $('#classiDiv').fadeOut();
                                        }
                                    });
                                });
                                $(function() {
                                  $('#like').click(function(){
                                    $.ajax('{{ path('addLike') }}', {
                                          type: "POST",
                                          data: {
                                              taleId: {{ tale[0].id }}
                                          },
                                          success: function(data) {
                                              $(this).toggleClass('clicked');

                                          },
                                          error: function() {
                                              console.log("non funge") // show alert or something
                                          }
                                    });
                                      return false; // this stops normal button behaviour from executing;
                                  });
                                });


                                $("#like").hover(function(){
                                    $(this).blur();
                                });
                                $("#like").mouseout(function(){
                                    $(this).off("blur");
                                });
                                /*
                                $("#like").mouseup(function(){
                                    $(this).off("blur");
                                });*/


                            </script>
                        </div>

                    </div>
                    <h3>Dettagli</h3>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Autore: {{ tale[0].taleAuthor }}</p>
                            <p>Likes: {{ tale[0].likes.count() }}</p>
                            <p>Data Creazione: {{ tale[0].taleDate | date("Y-m-d") }}</p>
                            <p>Punteggio: {{ tale[0].taleScore }}</p>
                        </div>
                    </div>
                    <button id="like" class="btn btn-default btn-circle btn-lg hvr-pulse"><span class="glyphicon glyphicon-thumbs-up"></span></button>Mi piace
                </div>
            </div>

            <div class="col-sm-8 col-sm-offset-1" id="detailDiv">

                {% set ciclo = false %}
                {% for sequence in tale[0].sequences %}
                    {% set ciclo = true %}
                    <div class="row">
                        <div class="col-sm-6">
                            {#
                                <div class="verticaltext" style="color:{{ sequence.sequenceType.stColor }}">{{ sequence.sequenceType.stName }}</div>
                            #}
                            <div class="verticaltext" style="color:{{ sequence.sequenceType.stColor }}">{{ sequence.sequenceType.stName }}</div>
                            <div class="container-fluid">
                                <div class="jumbotron" style="background:{{ sequence.sequenceType.stColor }}">
                                    {{ sequence.seqText }}
                                </div>
                            </div>
                        </div>
                        {% if sequence.actions.count() != 0 %}
                            <div class="col-sm-6">
                                <div id="Carousel{{ sequence.seqOrder }}" class="carousel slide">
                                    <ol class="carousel-indicators">
                                        {% if sequence.actions.count()%3 == 0 %}
                                            {% for i in 0..sequence.actions.count()/3-1 %}
                                                {% if loop.index0 == 0 %}
                                                    <li data-target="#Carousel{{ sequence.seqOrder }}" data-slide-to="{{ i }}" class="active"></li>
                                                {% else %}
                                                    <li data-target="#Carousel{{ sequence.seqOrder }}" data-slide-to="{{ i }}"></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% elseif sequence.actions.count() <= 3 %}
                                            <li data-target="#Carousel{{ sequence.seqOrder }}" data-slide-to="0" class="active"></li>
                                        {% else %}
                                            {% for i in 0..sequence.actions.count()/3 %}
                                                {% if loop.index0 == 0 %}
                                                    <li data-target="#Carousel{{ sequence.seqOrder }}" data-slide-to="{{ i }}" class="active"></li>
                                                {% else %}
                                                    <li data-target="#Carousel{{ sequence.seqOrder }}" data-slide-to="{{ i }}"></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </ol>


                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        {% for action in sequence.actions %}

                                        {% if loop.index0 == 0 %}
                                        <div class="item active">
                                            <div class="row">
                                                <div class="col-xs-4"><a href="#" class="thumbnail"><img src="http://i265.photobucket.com/albums/ii235/realgoodeal/Back-EN.jpg" alt="Image" style="max-width:100%;"></a></div>

                                                {% elseif loop.index%4 == 0 and loop.index0 != 0 %}
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-xs-4"><a href="#" class="thumbnail"><img src="http://i265.photobucket.com/albums/ii235/realgoodeal/Back-EN.jpg" alt="Image" style="max-width:100%;"></a></div>

                                                {% else %}
                                                    <div class="col-xs-4"><a href="#" class="thumbnail"><img src="http://i265.photobucket.com/albums/ii235/realgoodeal/Back-EN.jpg" alt="Image" style="max-width:100%;"></a></div>

                                                {% endif %}

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div><!--.carousel-inner-->


                                    <a data-slide="prev" href="#Carousel{{ sequence.seqOrder }}" class="left carousel-control">‹</a>
                                    <a data-slide="next" href="#Carousel{{ sequence.seqOrder }}" class="right carousel-control">›</a>
                                </div><!--.Carousel-->
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div id="classicDiv" class="col-sm-6 col-sm-offset-1">
                <div class="jumbotron">
                    <p>{{ taleText|nl2br }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
